.App {
  height: 100vh;
  /* border: 1px solid black; */
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.centerOfAttention {
  width: 80%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blueviolet;
}